<script src="http://www.w3schools.com/lib/w3data.js"></script>

<!--header include -->
<meta charset="UTF-8">
<div w3-include-html="/pc/inc/header.html"></div> 
<!--sub 영역-->
<article id="subVisual06" class="subVisualTaxt">
	<h2>Customer Service</h2>
</article>
<div id="subCon">
	<nav id="lnb">
		<h3>Customer Service</h3>
		<ul>
			<li><a href="/pc/sub/customer/qna.html">- Q&A</a></li>
			<li class="on"><a href="/pc/sub/customer/intro.html">- 제휴업체소개</a></li>
			<li><a href="/pc/sub/customer/inquiry.html">- 제휴문의</a></li>
		</ul>
	</nav>
	<article>
		<nav class="navi">
			<ul>
				<li>홈</li>
				<li>Customer Service</li>
				<li class="pnt">제휴업체소개</li>
			</ul>
		</nav>
		<div class="titleSub">
			<h3>제휴업체소개</h3>
			<i>line</i>
		</div>
		<!--content 영역-->
		<div id="cont" class="">
			<img src="../../img/sub/relation.jpg">
		</div>
		<!--//content 영역-->
	</article>
</div>
<!--//sub 영역-->

<!--footer include -->
<div w3-include-html="/pc/inc/footer.html"></div> 
<script>
	w3IncludeHTML();
</script>