<script src="http://www.w3schools.com/lib/w3data.js"></script>

<!--header include -->
<meta charset="UTF-8">
<div w3-include-html="/pc/inc/header.html"></div> 
<!--sub 영역-->
<article id="subVisual01" class="subVisualTaxt">
	<h2>company</h2>
</article>
<div id="subCon">
	<nav id="lnb">
		<h3>Company</h3>
		<ul>
			<li><a href="/pc/sub/company/history.html">- 회사연혁</a></li>
			<li class="on"><a href="/pc/sub/company/member.html">- 구성원</a></li>
		</ul>
	</nav>
	<article>
		<nav class="navi">
			<ul>
				<li>홈</li>
				<li>Company</li>
				<li class="pnt">구성원</li>
			</ul>
		</nav>
		<div class="titleSub">
			<h3>구성원</h3>
			<i>line</i>
		</div>
		<!--content 영역-->
		<div id="cont" class="">
			내용
		</div>
		<!--//content 영역-->
	</article>
</div>
<!--//sub 영역-->

<!--footer include -->
<div w3-include-html="/pc/inc/footer.html"></div> 
<script>
	w3IncludeHTML();
</script>