<script src="http://www.w3schools.com/lib/w3data.js"></script>

<!--header include -->
<meta charset="UTF-8">
<div w3-include-html="/pc/inc/header.html"></div> 
<!--sub 영역-->
<article id="subVisual03" class="subVisualTaxt">
	<h2>Board</h2>
</article>
<div id="subCon">
	<nav id="lnb">
		<h3>Board</h3>
		<ul>
			<li class="on"><a href="/pc/sub/board/all.html">- 전체게시판</a></li>
		</ul>
	</nav>
	<article>
		<nav class="navi">
			<ul>
				<li>홈</li>
				<li>Board</li>
				<li class="pnt">전체게시판</li>
			</ul>
		</nav>
		<div class="titleSub">
			<h3>전체게시판</h3>
			<i style="width:150px">line</i>
		</div>
		<!--content 영역-->
		<div id="cont" class="">
			<!--내용 테이블-->
<table class="ntb-tb-view" style="width:100%" cellpadding="0" cellspacing="0">
	<caption>게시판 내용</caption>
	<colgroup>
		<col width="12%" />
		<col width="" />
		<col width="12%" />
		<col width="15%" />
	</colgroup>
	<thead>
		<tr>
			<th colspan="4" class="r_none">홈페이지 오픈</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<th>등록일</th>
		<td class="left">2016-09-01 오전 10:19:09</td>
		<th>조회수</th>
		<td>131</td>
	</tr>
	<tr>
		<th>E-mail</th>
		<td class="left">webmoa@webmoa.co.kr&nbsp;</td>
		<th>작성자</th>
		<td><span class='bold'>관리자</span></td>
	</tr>

	

	<tr>
		<td colspan="4">
		

		<div class="content-area">
		<p>홈페이지를 새롭게 오픈하게 되었습니다.</p><p>고객의 의견을 많이 듣고, 나날이 더 개선되고 나아지는 improve가 되겠습니다</p><br /><br />
		</div>
		
	
		</td>
	</tr>

	<!-- 파일첨부 -->
	
	<!-- //파일첨부 -->

	</tbody>
</table>

<!--버튼-->
<div class="ntb-tb-view-btn" style="width:100%">
	<input type="button" value=" 목록 " class="AXButton Classic"  onclick="history.back();>
	<div class="btnr">
		
			<!--쓰기-->
			<input type="button" value=" 쓰기 " class="AXButton Classic" onclick="location.href='writing.html'">
			<!--수정-->
			
				<input type="button" value=" 수정 " class="AXButton Classic" onclick="location.href='#;'">
			
			<!--답변-->
			
			<!--삭제-->
			<input type="button" value=" 삭제 " class="AXButton Classic" onclick="location.href='#;'">
		
	</div>
</div>


	<div class="ntb-tb-view-reply">

		<!--이전글 시작-->	
		<table width="100%" cellpadding="0" cellspacing="0" class="ntb-tb-view">
			<caption>게시판 이전/다음글</caption>
			<colgroup>
				<col width="12%" />
				<col width="" />
			</colgroup>
			
			<tr> 
				<th width="12%">이전글</th>
				<td width="88%" class="left font_gray">이전글이 없습니다.</td>
			</tr>
				
			<!--다음글 시작-->
			
			<tr> 
				<th width="12%">다음글</th>
				<td width="88%" class="left font_gray">다음글이 없습니다.</td>
			</tr>
			
		</table>

		</div>
		<!--//content 영역-->
	</article>
</div>
<!--//sub 영역-->

<!--footer include -->
<div w3-include-html="/pc/inc/footer.html"></div> 
<script>
	w3IncludeHTML();
</script>