<script src="http://www.w3schools.com/lib/w3data.js"></script>

<!--header include -->
<meta charset="UTF-8">
<div w3-include-html="/pc/inc/header.html"></div> 
<!--sub 영역-->
<article id="subVisual02" class="subVisualTaxt">
	<h2>Portfolio</h2>
</article>
<div id="subCon">
	<nav id="lnb">
		<h3>Portfolio</h3>
		<ul>
			<li><a href="/pc/sub/portfolio/human.html">- 인적사항</a></li>
			<li class="on"><a href="/pc/sub/portfolio/edu.html">- 학력사항</a></li>
			<li><a href="/pc/sub/portfolio/activity.html">- 주요활동</a></li>
			<li><a href="/pc/sub/portfolio/award.html">- 수상내역</a></li>
			<li><a href="/pc/sub/portfolio/license.html">- 자격사항</a></li>
			<li><a href="/pc/sub/portfolio/language.html">- 어학능력</a></li>			
		</ul>
	</nav>
	<article>
		<nav class="navi">
			<ul>
				<li>홈</li>
				<li>Portfolio</li>
				<li class="pnt">수상내역</li>
			</ul>
		</nav>
		<div class="titleSub">
			<h3>수상내역</h3>
			<i>line</i>
		</div>
		<!--content 영역-->
		<div id="cont" class="form">
			<ul>
			<li><p>제 &nbsp&nbsp&nbsp 목</p><span><input type="text"  name="email" size="35" maxlength="20" value="" class="AXInput W500" /></span></li>
			<li><p>기 &nbsp&nbsp&nbsp 간</p><span>
						<select name=" "  title="년" class="AXSelect ">
						<option value="-" >- 년</option>
						<option value="2016" >2016년</option>
						<option value="2015" >2015년</option>	
						<option value="2014" >2014년</option>	
						<option value="2013" >2013년</option>	
						<option value="2012" >2012년</option>	
						<option value="2011" >2011년</option>	
						<option value="2010" >2010년</option>	
						<option value="2009" >2009년</option>	
					    </select>&nbsp
						<select name=" "  title="월" class="AXSelect ">
						<option value="-" >- 월</option>
						<option value="1" >1월</option>
						<option value="2" >2월</option>	
						<option value="3" >3월</option>	
						<option value="4" >4월</option>	
						<option value="5" >5월</option>	
						<option value="6" >6월</option>	
						<option value="7" >7월</option>	
						<option value="8" >8월</option>
						<option value="9" >9월</option>	
						<option value="10" >10월</option>	
						<option value="11" >11월</option>
						<option value="12" >12월</option>
					    </select>&nbsp
						<select name=" "  title="일" class="AXSelect ">
						<option value="- 일">- 일</option>
						<option value="1">1일</option>
						<option value="2">2일</option>	
						<option value="3">3일</option>	
						<option value="4">4일</option>	
						<option value="5">5일</option>	
						<option value="6">6일</option>	
						<option value="7">7일</option>	
						<option value="8">8일</option>
						<option value="9">9일</option>	
						<option value="10">10일</option>	
						<option value="11">11일</option>
						<option value="12">12일</option>
						<option value="13">13일</option>
						<option value="14">14일</option>
						<option value="15">15일</option>
						<option value="16">16일</option>
						<option value="17">17일</option>
						<option value="18">18일</option>
						<option value="19">19일</option>
						<option value="20">20일</option>	
						<option value="21">21일</option>
						<option value="22">22일</option>
						<option value="23">23일</option>
						<option value="24">24일</option>
						<option value="25">25일</option>
						<option value="26">26일</option>
						<option value="27">27일</option>
						<option value="28">28일</option>
						<option value="29">29일</option>
						<option value="30">30일</option>
						<option value="31">31일</option>
					    </select>&nbsp
						&nbsp&nbsp~&nbsp&nbsp
						<select name=" "  title="년" class="AXSelect ">
						<option value="-" >- 년</option>
						<option value="2016" >2016년</option>
						<option value="2015" >2015년</option>	
						<option value="2014" >2014년</option>	
						<option value="2013" >2013년</option>	
						<option value="2012" >2012년</option>	
						<option value="2011" >2011년</option>	
						<option value="2010" >2010년</option>	
						<option value="2009" >2009년</option>	
					    </select>&nbsp
						<select name=" "  title="월" class="AXSelect ">
						<option value="-" >- 월</option>
						<option value="1" >1월</option>
						<option value="2" >2월</option>	
						<option value="3" >3월</option>	
						<option value="4" >4월</option>	
						<option value="5" >5월</option>	
						<option value="6" >6월</option>	
						<option value="7" >7월</option>	
						<option value="8" >8월</option>
						<option value="9" >9월</option>	
						<option value="10" >10월</option>	
						<option value="11" >11월</option>
						<option value="12" >12월</option>
					    </select>&nbsp
						<select name=" "  title="일" class="AXSelect ">
						<option value="- 일">- 일</option>
						<option value="1">1일</option>
						<option value="2">2일</option>	
						<option value="3">3일</option>	
						<option value="4">4일</option>	
						<option value="5">5일</option>	
						<option value="6">6일</option>	
						<option value="7">7일</option>	
						<option value="8">8일</option>
						<option value="9">9일</option>	
						<option value="10">10일</option>	
						<option value="11">11일</option>
						<option value="12">12일</option>
						<option value="13">13일</option>
						<option value="14">14일</option>
						<option value="15">15일</option>
						<option value="16">16일</option>
						<option value="17">17일</option>
						<option value="18">18일</option>
						<option value="19">19일</option>
						<option value="20">20일</option>	
						<option value="21">21일</option>
						<option value="22">22일</option>
						<option value="23">23일</option>
						<option value="24">24일</option>
						<option value="25">25일</option>
						<option value="26">26일</option>
						<option value="27">27일</option>
						<option value="28">28일</option>
						<option value="29">29일</option>
						<option value="30">30일</option>
						<option value="31">31일</option>
					    </select>
						</span></li>
			<li><p>전 &nbsp&nbsp&nbsp 공</p><span><input type="text"  name="email" size="35" maxlength="20" value="" class="AXInput W300" /></span></li>
			<li><p>이수구분</p>
			<span>
					<select name=" "  title="이수구분" class="AXSelect ">
						<option value="졸업" >졸업</option>
						<option value="중퇴" >재학</option>
						<option value="중퇴" >중퇴</option>
						<option value="중퇴" >휴학</option>
					</select> 
			<li><p>내 &nbsp&nbsp&nbsp 용</p><span><textarea cols="" rows="" name="content" id="content" class='text_contents' style="width:780px; height:250px"></textarea></span></li>
			<li><p>첨부파일</p><span><input type="file" name="busi_file" class="AXInput w50p"> <span class="desCription">첨부파일 : 최대 용량 20M 이하</span></span></li>
			</span></li>
			</ul>
			 <div class="ntb-listbtn-area" style="width:100%">
		    <input type="button" value="   저장   " class="AXButton Classic" >	
		    </div>			
		</div>
		<!--//content 영역-->
	</article>
</div>
<!--//sub 영역-->

<!--textarea script -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
jQuery.fn.resizehandle = function(width) {
	return this.each(function() {
		var width1 = width + 10; //환경에 따라 조절
		var me = jQuery(this);
		me.after(
			jQuery('<div class="text_bar" style="width:'+width+'px;margin-left:111px;position:relative;z-index:10;height:18px;cursor:s-resize; border:1px solid #ccc; background:#fafafa; font-size:11px; text-align:center"><span style=" display:block;visibility:visible;height:18px;font-size:11px;line-height:18px;color:#a0a0a0;"><img src="../../img/sub/arrow_textarea.gif" style="vertical-align:middle;"/> 입력창 크기 조절</span></div>')
				.bind('mousedown', function(e) {
					var h = me.height();
					var y = e.clientY;
					var movehandler = function(e) {
						me.height(Math.max(40, e.clientY + h - y));
					};
					var uphandler = function(e) {
						jQuery('html').unbind('mousemove',movehandler)
							.unbind('mouseup',uphandler);
					};
					jQuery('html') .bind('mousemove', movehandler)
						.bind('mouseup', uphandler);
				})
            );
      });
}
$(document).ready(function(){
	var width = $(".text_contents").width() + 3; //textarea width
	$(".text_contents").resizehandle(width);
}); 

</script>
<!--//textarea script -->


<!--footer include -->
<div w3-include-html="/pc/inc/footer.html"></div> 
<script>
	w3IncludeHTML();
</script>
