<script src="http://www.w3schools.com/lib/w3data.js"></script>

<!--header include -->
<meta charset="UTF-8">
<div w3-include-html="/pc/inc/header.html"></div> 
<!--sub 영역-->
<article id="subVisual02" class="subVisualTaxt">
	<h2>Portfolio</h2>
</article>
<div id="subCon">
	<nav id="lnb">
		<h3>Portfolio</h3>
		<ul>
			<li class="on"><a href="/pc/sub/portfolio/human.html">- 인적사항</a></li>
			<li><a href="/pc/sub/portfolio/edu.html">- 학력사항</a></li>
			<li><a href="/pc/sub/portfolio/activity.html">- 주요활동</a></li>
			<li><a href="/pc/sub/portfolio/award.html">- 수상내역</a></li>
			<li><a href="/pc/sub/portfolio/license.html">- 자격사항</a></li>
			<li><a href="/pc/sub/portfolio/language.html">- 어학능력</a></li>			
		</ul>
	</nav>
	<article>
		<nav class="navi">
			<ul>
				<li>홈</li>
				<li>Portfolio</li>
				<li class="pnt">인적사항</li>
			</ul>
		</nav>
		<div class="titleSub">
			<h3>인적사항</h3>
			<i>line</i>
		</div>
		<!--content 영역-->
		<div id="cont" class="human">
			<div class="humanback">
			<div class="human_img">
			<p><img src="../../img/sub/human_img.jpg"></p>
			<span><input type="button" value="   수정   " class="AXButton Classic" ></span>
			</div>
			<ul>
			<li><p>이름 :</p><span>홍길동</span></li>
			<li><p>성별 :</p><span>남</span></li>
			<li><p>생일 :</p><span>1993.11.11</span></li>
			<li><p>번호 :</p><span><input type="text"  name="email" size="35" maxlength="20" value="010-1234-5678" class="AXInput W120" /></span></li>
			<li><p>메일 :</p><span><input type="text"  name="email" size="35" maxlength="50" value="webmoa@webmoa.co.kr" class="AXInput W180" /></span></li>
			<li><p>병역 :</p><span><input type="text"  name="email" size="35" maxlength="150" value="2013.02.25 ~ 2014.11.24 육군 병장" class="AXInput W300" /></span></li>
			</ul>
			</div>
		    <div class="human_area">
		    <input type="button" value="   확인   " class="AXButton Classic" >	
		    </div>
		</div>
		</div>
		<!--//content 영역-->
	</article>
</div>
<!--//sub 영역-->

<!--footer include -->
<div w3-include-html="/pc/inc/footer.html"></div> 
<script>
	w3IncludeHTML();
</script>