<script src="http://www.w3schools.com/lib/w3data.js"></script>

<!--header include -->
<meta charset="UTF-8">
<div w3-include-html="/pc/inc/header.html"></div> 
<!--sub 영역-->
<article id="subVisual02" class="subVisualTaxt">
	<h2>Portfolio</h2>
</article>
<div id="subCon">
	<nav id="lnb">
		<h3>Portfolio</h3>
		<ul>
			<li><a href="/pc/sub/portfolio/human.html">- 인적사항</a></li>
			<li><a href="/pc/sub/portfolio/edu.html">- 학력사항</a></li>
			<li><a href="/pc/sub/portfolio/activity.html">- 주요활동</a></li>
			<li><a href="/pc/sub/portfolio/award.html">- 수상내역</a></li>
			<li><a href="/pc/sub/portfolio/license.html">- 자격사항</a></li>
			<li><a href="/pc/sub/portfolio/language.html">- 어학능력</a></li>			
		</ul>
	</nav>
	<article>
		<nav class="navi">
			<ul>
				<li>홈</li>
				<li>Portfolio</li>
				<li class="pnt">PDF변화</li>
			</ul>
		</nav>
		<div class="titleSub">
			<h3>PDF변화</h3>
			<i>line</i>
		</div>
		<!--content 영역-->
		<div id="cont" class="">
			내용
		</div>
		<!--//content 영역-->
	</article>
</div>
<!--//sub 영역-->

<!--footer include -->
<div w3-include-html="/pc/inc/footer.html"></div> 
<script>
	w3IncludeHTML();
</script>