<script src="http://www.w3schools.com/lib/w3data.js"></script>

<!--header include -->
<meta charset="UTF-8">
<div w3-include-html="/pc/inc/header.html"></div> 
<!--sub 영역-->
<article id="subVisual04" class="subVisualTaxt">
	<h2>Self-Introduction</h2>
</article>
<div id="subCon">
	<nav id="lnb">
		<h3>Self-Introduction</h3>
		<ul>
			<li class="on"><a href="/pc/sub/personal/write.html">- 자기소개서 작성</a></li>
			<li><a href="/pc/sub/personal/control.html">- 자기소개서 관리</a></li>
		</ul>
	</nav>
	<article>
		<nav class="navi">
			<ul>
				<li>홈</li>
				<li>Self-Introduction</li>
				<li class="pnt">자기소개서 작성</li>
			</ul>
		</nav>
		<div class="titleSub">
			<h3>자기소개서 작성</h3>
			<i style="width:220px">line</i>
		</div>
		<!--content 영역-->
		<div id="cont" class="form">
			<!-- contents add -->
			<div id="preset" style="display:none;">
				<ul class="formAdd" name="formAdd" style='padding-top:20px'>
					<li>
						<p>제 &nbsp&nbsp&nbsp 목</p>
						<span><input type="text"  name="email" size="35" maxlength="20" value="" class="AXInput W500" /></span>
					</li>				
					<li>
						<p>내 &nbsp&nbsp&nbsp 용</p>
						<span><textarea cols="" rows="" name="content" id="content" class='text_contents' style="width:780px; height:250px"></textarea></span>
					</li>			
				</ul>
			</div>
			<!-- //contents add -->
			<form name="form1" method="post" action="">
			<ul class="formAdd1" name="formAdd">
				<li>
					<p>제 &nbsp&nbsp&nbsp 목</p>
					<span><input type="text"  name="email" size="35" maxlength="20" value="" class="AXInput W500" /></span>
				</li>				
				<li>
					<p>내 &nbsp&nbsp&nbsp 용</p>
					<span><textarea cols="" rows="" name="content" id="content" class='text_contents' style="width:780px; height:250px"></textarea></span>
				</li>			
			</ul>
			<div class="personal_button">
				 <p class="personal_area">
					<input type="button" value="   + 내용추가하기   " class="AXButton addBtn">
					<input type="button" value="   확인   " class="AXButton Classic" >	
				</p>	
			</div>
			</form>
		</div>
		<!--//content 영역-->
	</article>
</div>
<!--//sub 영역-->

<!--textarea script -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
jQuery.fn.resizehandle = function(width) {
	return this.each(function() {
		var width1 = width + 6; //환경에 따라 조절
		var me = jQuery(this);
		me.after(
			jQuery('<div class="text_bar" style="width:'+width+'px;margin-left:111px;position:relative;z-index:10;height:18px;cursor:s-resize; border:1px solid #ccc; background:#fafafa; font-size:11px; text-align:center"><span style=" display:block;visibility:visible;height:18px;font-size:11px;line-height:18px;color:#a0a0a0;"><img src="../../img/sub/arrow_textarea.gif" style="vertical-align:middle;"/> 입력창 크기 조절</span></div>')
				.bind('mousedown', function(e) {
					var h = me.height();
					var y = e.clientY;
					var movehandler = function(e) {
						me.height(Math.max(40, e.clientY + h - y));
					};
					var uphandler = function(e) {
						jQuery('html').unbind('mousemove',movehandler)
							.unbind('mouseup',uphandler);
					};
					jQuery('html') .bind('mousemove', movehandler)
						.bind('mouseup', uphandler);
				})
            );
      });
}
$(function(){
	var width = $(".text_contents").width();
	$(".formAdd1 .text_contents").resizehandle(width);

	//내용추가버튼 클릭시
	$('.addBtn').click(function(){
		$('[name=form1] [name=formAdd]:last').after( $('#preset ul').clone() );
		$("[name=form1] [name=formAdd]:last .text_contents").resizehandle(width);
	});
}); 

</script>
<!--//textarea script -->

<!--footer include -->
<div w3-include-html="/pc/inc/footer.html"></div> 
<script>
	w3IncludeHTML();
</script>